.hov:hover {
    color:rgb(75, 75, 199);
    transition: .5s;
}

.gradient-text {
    background: linear-gradient(to right, #37097c, #de1d1d, #343798);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  